[Desktop Entry]
Version=1.0
Type=Application
Name=FlashWLSSensor
Comment=Flash Grove Water Level Sensor firmware
Exec=$HOME/Desktop/water_level_sensor_modified/flash_wls_sensor_app/launch.sh
Icon=$HOME/Desktop/water_level_sensor_modified/flash_wls_sensor_app/icons/Magnotherm_Logo.png
Terminal=false
Categories=Utility;
